:root {
  --bg-color: rgba(150, 150, 150, 1);

  /* Border Colors are all transparent colors. These will tint or shade the background color of the square. */
  --border-left-color: rgba(255, 255, 255, 0.20);
  --border-top-color: rgba(255, 255, 255, 0.33);
  --border-right-color: rgba(0, 0, 0, 0.15);
  --border-bottom-color: rgba(0, 0, 0, 0.5);

  /* Square Colors: background colors for the squares.*/
  --color-0: #eaeaea;
  --color-1: #FECF47;
  --color-2: #57E9DA;
  --color-3: #F16E86;
  --color-4: #D675B6;
  --color-5: #AFDF6F;
  --color-6: #C60745;
  --color-7: #53B55E;

  /* Button Colors */
  --button-color-t: rgba(200, 200, 200, 1);
  --button-color-r: rgba(150, 150, 150, 1);
  --button-color-b: rgba(120, 120, 120, 1);
  --button-color-l: rgba(222, 222, 222, 1);

  /* Numbers define values that will be used throughout the CSS.
  --tile-size: 20px for example will set the size of the grid squares. */
  --cols: 10;
  --rows: 18;
  --tile-size: 30px;
  --border-width: 5px;
}

/* Colors */
.color-0 {
  background-color: var(--color-0);
}

.color-1 {
  background-color: var(--color-1);
}

.color-2 {
  background-color: var(--color-2);
}

.color-3 {
  background-color: var(--color-3);
}

.color-4 {
  background-color: var(--color-4);
}

.color-5 {
  background-color: var(--color-5);
}

.color-6 {
  background-color: var(--color-6);
}

.color-7 {
  background-color: var(--color-7);
}

body {
  background-image: url(https://img.freepik.com/premium-photo/festive-easter-candy-pastel-colors-form-pyramids-lollipops_124507-32737.jpg);
  background-size: cover;
    background-repeat: no-repeat;
}

/* Grid Square */
.grid-square {
  border-style: solid;
  width: var(--tile-size);
  height: var(--tile-size);
  border-width: 1px;
  border-color: brown;
}

* {
  box-sizing: border-box;
}

.grid-board {
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--tile-size));
  grid-gap: 0;
  align-self: flex-start;
  grid-area: c; /* Assign to grid area c */

}

/* Next Block */
.next-block {
  display: grid;
  grid-template-columns: repeat(4, var(--tile-size));
  align-self: flex-start;
  grid-area: l;
    /* Grid area l left column */
}

/* Score Board Button */
.score-board-button {
  --size: calc(var(--tile-size) * 2.5);
    width: var(--size);
    height: var(--size);
    text-align: center;
    display: block;
    background-color: var(--color-3);
    cursor: pointer;
    transition: background-color 0.3s ease;
  
  
    /* Add hover effect */
    &:hover {
      background-color: var(--color-1);
    }
}

.score-text {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  font-weight: bold;
  color: white;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* App */
.App {
  justify-content: center;
  align-items: center;
  --col-side: calc(var(--tile-size) * 4);
  --col-center: calc(var(--tile-size) * 10);
  /* --grid-height: calc(var(--tile-size) * 18); */

  display: grid;
  grid-gap: var(--tile-size) var(--tile-size);
  grid-template-columns: var(--col-side) var(--col-center) var(--col-side);
  grid-template-rows: 100px var(--grid-height) 100px;
  grid-template-areas: "h h h"
    "l c r"
    ". b .";
  background-color: rgba(242, 144, 162, 0.494);
  padding: 40px;
}

/* App-header */
.App-header {
  grid-area: h;
}


/* score-board */
.score-board {
  grid-area: r;
  display: flex;
  flex-direction: column;
}

/* controls */
.controls {
  grid-area: b;
  display: flex;
  flex-direction: row;
}

/* Control Button */
.control-button {
  --size: calc(var(--tile-size) * 2.5);
  width: var(--size);
  height: var(--size);
  text-align: center;
  display: block;
  background-color: var(--color-2);
  cursor: pointer;
  transition: background-color 0.3s ease;


  /* Add hover effect */
  &:hover {
    background-color: var(--color-1);
  }
}
/* Message Popup Styles */
.message-popup {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 2em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(var(--tile-size) * 10);
  height: calc(var(--tile-size) * 8);
  background-color: var(--color-3);
  text-align: center;
}

.message-popup.hidden {
  display: none;
}